body
{
    background-color: rgb(51, 52, 56);
}

nav
{
    background-color: rgb(78, 76, 78);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.379);
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;

    position: absolute;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav ul
{
    list-style-type: none;

    display: flex;
    margin-right: 10px;
}

nav li
{
    border-left: 2px solid rgb(159, 132, 248);
    padding-left: 5px;

    margin-right: 20px;
}

a
{
    transition: all 0.2s;
    color: rgb(159, 132, 248);
    text-decoration: none;
}

a:hover
{
    color: rgb(231, 223, 255);
    text-shadow: 0px 0px 10px white;
}

h1
{
    color: rgb(255, 189, 108);
    font-size: 48px;
}

blockquote
{
    border-left: 3px solid rgb(248, 126, 81);
    padding: 20px;
    color: rgb(248, 126, 81);
}

.kislogo
{
    margin: auto;
    height: 48px;
    width: 48px;
}

.topleft
{
    position: absolute;
    top: 0;
    left: 0;
}

.btn
{
    transition: all 0.2s;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;

    border-radius: 30px;
    background-color: white;
    color: rgb(51, 52, 56);
    font-weight: bold;
}

.btn:hover
{
    background-color: rgb(248, 126, 81);
    color: white;
    scale: 1.1;
}

.container
{
    width: 100vw;
    height: 100vh;
}

.profile
{
    max-width: 700px;
    height: 100%;
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-nav
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-desc
{
    height: 100%;
    margin: auto;
}

.profile-pic
{
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-right: 50px;
}